<div class="container">
    <div class="row footer-wrapper">
        <div class="footer-navigation">
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">ABOUT US</a>
                </li>
                <li>
                    <a href="#" target="_blank">TERMS OF SERVICE</a>
                </li>
                <li>
                    <a href="#" target="_blank">PRIVACY POLICY</a>
                </li>
                <li>
                    <a href="#" target="_blank">FAQs</a>
                </li>
                <li>
                    <a href="#" target="_blank">CONTACT US</a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="">
            <p class="copyright-text">Hebe Vietnam - All rights reserved. &copy; 2018</p>
        </div>
    </div>
</div>




