<div class="container">
    <div class="navbar-header">
        <div class="row">
            <div class="col-2 col-2 pull-left">
                <img src="~/Assets/img/hebe.png" width="120px" height="100px" alt="logo"/>
            </div>
            <div class="col-10 col-10 pull-right">
                <h1 style="color: #fff">@Resources.Application.SubTitle</h1>
            </div>
        </div>
    </div>
</div>