<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <div class="col-2 col-2 pull-left">
            <a class="navbar-brand" href="#">
                <img src="~/Assets/img/hebe.png" class="logo" alt="logo" />
            </a>
        </div>
        <div class="col-10 col-10 pull-right">
            <h1 style="color: #fff">@Resources.Application.SubTitle</h1>
        </div>
    </div>
</nav>